.addTask {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.inputWrapper input {
    width: 100%;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.addTaskButton {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: fit-content;
}

.priorityDropdown {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.errorMessage {
    position: absolute;
    color: red;
    font-size: 14px;
    bottom: -0.8rem;
    left: 0.5rem;
}

.errorInput {
    outline: 2px solid red;
    transition: border 0.3s ease-in-out;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.addTaskErr {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
}