.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    background-color: #f4f4f4;
}

.loginForm {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginBtn {
    /*margin: 0.5rem 0;*/
    width: 100%;
}

.errorMessage {
    color: red;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: #ffe6e6;
    padding: 0.5rem;
    border: 1px solid #ffcccc;
    border-radius: 4px;
}

.errorInput {
    outline: 2px solid red;
    transition: border 0.3s ease-in-out;
}
