.tasks {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.taskContent {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.task span {
    flex-grow: 1;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.editTask {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.priorityDropdown {
    padding: 0.5rem;
    border-radius: 20px;
}

.updateTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
