.userMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.userIcon {
    font-size: 24px;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    background-color: transparent;
    color: #1a1a1a;
}

.logoutButton:hover {
    background-color: transparent;
    color: #1a1a1a;
}