.dashboard {
    max-width: 800px;
    margin: 2rem auto;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addTask {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    align-items: baseline;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

button {
    width: fit-content;
    height: fit-content;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.taskContent {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.task span {
    flex-grow: 1;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.editTask {
    display: flex;
    gap: 1rem;
}

